.window {
  max-width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9;
  flex-direction: column;

  .menu {
    margin: -5px 0 5px -5px;
    span {
      margin-right: 3px;
    }
  }

  input {
    width: 100%;
    font-size: 12px;
    padding: 14px;
    height: 21px;
    line-height: 2;
    text-align: right;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey,
      inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    background-color: #fff;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
