.buttonPanel{
  display: flex;
  button{
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
    border: 1px solid grey;
    border-radius: 0;
    cursor: pointer;
    width: calc(25% - 0.2rem);
    height: 100%;
    margin: 0.1rem;
    min-width: unset;
    &.wide{
      width: calc(50% - 0.2rem);
    }
    &:not(:disabled):active {
      border: 1px solid grey;
      padding: 0 12px;
    }
  }
}