.buttonPanel{
  button{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 0.1rem;
    min-width: unset;
    &.extraLarge{
      width: 6rem;
    }
    &:not(:disabled):active {
      padding: unset;
    }
  }
}